.socials {
    &__link {
        display: inline-block;
        transition: all .2s linear .1s;
        background-color: $secondary-color;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 1.3rem;
        color: rgba(38, 38, 38, 1);
        &:hover {
            transform: scale(2, 2);
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

@media screen and (max-width: 250px) {
    .socials__link {
        display: block;
        &:not(:last-child) {
            margin: 0 auto 10px;
        }
        &:last-child {
            margin: 0 auto;
        }
    }
}